<%- include('partials/header.ejs'); -%>

    <main>
        <div class="topBar">
            <div class="title">
                <h1>Books read by Shams</h1>
                <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
            </div>
            
            <div class="topActions">
                <div class="sortAction">
                    <p>Sort by:</p>
                    <form action="/" method="get">
                        <select id="sort-dropdown" onchange="this.form.submit()" name="sort">
                            <option value="readAt" <%= (sortType === 'readAt') ? 'selected' : '' %>>Latest</option>
                            <option value="title" <%= (sortType === 'title') ? 'selected' : '' %>>Title</option>
                            <option value="rating" <%= (sortType === 'rating') ? 'selected' : '' %>>Rating</option>
                        </select>
                    </form>
                </div>
        
                <form action="/addBook" method="post" class="addBookBtn">
                    <button id="add-book">Add Book</button>
                </form>
            </div>
        </div>

        <div class="book-list">
            <% for (let book of shelf) { %>
                <div class="book-item">
                    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="">
                    <div class="content">
                        <h3><%= book.title %></h3>
                        <div class="meta">
                            <p><strong>ISBN:</strong> <%= book.isbn %></p>
                            <p><strong>Author:</strong> <%= book.author %></p>
                            <p><strong>Read At:</strong> <%= book.readat %></p>
                            <p><strong>Rating:</strong> <%= book.rating %> of 10</p>
                            <form action="/editBook" method="post" class="editForm">
                                <input type="hidden" name="editBookID" value="<%= book.id %>">
                                <button class="edit-book" type="submit">Edit</button>
                            </form>
                            <form action="/deleteBook" method="post" class="deleteBookForm">
                                <input type="hidden" name="deleteBookID" value="<%= book.id %>">
                                <button class="delete-book" type="submit"><img src="ic-delete.svg" alt="delete button"></button>
                            </form>
                        </div>
                        <p class="note"><strong>Notes:</strong> <%= book.note %></p>
                    </div>
                </div>
            <% } %>
        </div>

    </main>

<%- include('partials/footer.ejs'); -%>