<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shams' Book Note</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Books read by Shams</h1>
    <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
    <div>
        <p>Sort by:</p>
        <select id="sort-dropdown">
            <option value="title">Title</option>
            <option value="recency">Latest</option>
            <option value="rating">Rating</option>
        </select>
        <button id="add-book">Add Book</button>
    </div>
    <br><hr><br>
    <% for (let book of shelf) { %>
        <div class="book-item">
            <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="">
            <h3><%= book.title %></h3>
            <p><strong>ISBN:</strong> <%= book.isbn %></p>
            <p><strong>Author:</strong> <%= book.author %></p>
            <p><strong>Read At:</strong> <%= book.readAt %></p>
            <p><strong>Rating:</strong> <%= book.rating %> of 10</p>
            <p><strong>Notes:</strong> <%= book.note %></p>
            <button class="edit-book" data-id="<%= book._id %>">Edit</button>
        </div>
    <% } %>
</body>
</html>